/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px; /* Tamaño de fuente base */
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Para colocar el canvas detrás de los demás elementos */
}

.container {
    max-width: 90%;
    margin: 5vh auto;
    padding: 30px 20px; /* Reducido el padding para dar más espacio al contenido */
    text-align: center;
    background-color: rgba(24, 25, 25, 0.8);
    backdrop-filter: blur(10px); /* Desenfoque para simular el efecto de vidrio */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    position: relative; /* Para que el contenido no se solape con el canvas */
    z-index: 1; /* Asegura que el contenido esté sobre el canvas */
    color: #ffffff; /* Cambio del color de texto a blanco */
    font-family: 'Roboto Mono', monospace; /* Cambio de la fuente a Roboto Mono */
}

header {
    margin-bottom: 30px; /* Reducido el margen inferior del encabezado */
}

h1 {
    font-size: 2.8rem; /* Aumentado el tamaño de fuente para el encabezado principal */
    margin-bottom: 20px; /* Reducido el margen inferior del encabezado principal */
}

nav ul {
    list-style-type: none;
    text-align: center; /* Alineación del texto al centro */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #bbb; /* Cambio del color de texto a un tono más claro */
    font-weight: bold;
    font-size: 1.2rem; /* Tamaño de fuente para los enlaces en el menú de navegación */
}

nav ul li a:hover {
    color: #ffffff; /* Cambio del color de texto a blanco al hacer hover */
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2.2rem; /* Aumentado el tamaño de fuente para los encabezados de sección */
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    font-size: 1.2rem; /* Tamaño de fuente para los párrafos */
}

/* Contact section */
.contact-info {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #dddddd; /* Cambio del color de texto a un tono más claro */
}

.contact-info a {
    color: #007bff;
}

.contact-info a:hover {
    color: #0056b3;
}