/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px; 
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.container {
    max-width: 90%;
    margin: 5vh auto;
    padding: 30px 20px; 
    text-align: center;
    background-color: rgba(24, 25, 25, 0.8);
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative; 
    z-index: 1; 
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
}

header {
    margin-bottom: 30px; 
}

h1 {
    font-size: 2.8rem; 
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    text-align: center; 
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #bbb; 
    font-weight: bold;
    font-size: 1.2rem; 
}

nav ul li a:hover {
    color: #ffffff; 
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2.2rem; 
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    font-size: 1.2rem; 
}

/* Contact section */
.contact-info {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #dddddd; 
}

.contact-info a {
    color: #007bff;
}

.contact-info a:hover {
    color: #0056b3;
}

.skills-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
    width: 80%; 
}
  
.skill {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}
  
.skill i {
    margin-right: 10px; 
}

.skill dt {
    font-size: 1.3rem; 
    font-weight: bold;
}

.skill dd {
    margin-left: 10px;
}
 
.project-card {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 10px auto; 
    width: 80%; 
}

.project-card ul {
    list-style-type: none;
}

.project-card h3, h4{
    margin-top: 1rem;
}

.technologies{
    margin-bottom: 1rem;
}

.screenshot-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 10px; /* Gap between screenshots */
    margin-bottom: 1rem; /* Add some space below screenshots */
    margin-top: 1rem;
}
  
.screenshot {
    width: 100%; /* Fill the container width */
    object-fit: cover; /* Crop to fit while maintaining aspect ratio */
    transition: transform 0.3s ease-in-out; /* Smooth hover effect */
    opacity: 0.6;
}
  
.screenshot:hover {
    transform: scale(1.1); /* Enlarge on hover */
    z-index: 1; /* Overlap other screenshots on hover */
    opacity: 1;
}

  
  
